{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <form action="" method="post"  novalidate>
            {{ form.hidden_tag() }}
        <p>{{ form.requests(rows='28',cols='50') }}</p>
            <div style="text-align: center;">{{ form.submit() }}</div>
        </form>
    </div>
    <div class="col-md-4">
        <h2 style="font-size: 24px">Что делает этот сервис?</h2>
        <p> Сервис показывает самые популярные слова в топ-10 поисковой выдачи Yandex по Вашему запросу.</p>
        <h2 style="font-size: 24px">Для кого этот сервис?</h2>
        <li><b>Для копирайтеров.</b> Вы можете вписать в форму слева тему статьи и получить список самых важных слов,
            которые используют конкуренты. На основе этих данных можно составить план статьи или использовать как чек-лист.</li>
        <li style="padding-bottom: 20px;"><b>Для семантологов.</b> Если вы начинаете собирать поисковое ядро с нуля, то найдете огромное количество
            релевантных слов для составления ключей</li>
        <h2 style="font-size: 24px">Примеры использования сервиса</h2>
        <p>Например, вы пишете статью или собираете ядро на тему "Лазерная коррекция зрения". Сервис подскажет вам,
            что слова:</p>
        <li><b>астигматизм</b> встречается в 95% статей</li>
        <li><b>lasik</b> встречается в 85% статей</li>
        <li><b>ФРК</b> встречается в 80% статей</li>
        <li style="padding-bottom: 20px;"><b>эксимерный</b> встречается в 66% статей</li>
        <p>Если вы копирайтер, вы просто обязаны использовать эти слова. 34% копирайтеров просто упустили
            слово 'эксимерный' и если Вы используете его, статья в глазах Яндекса будет выглядеть более полной.</p>
        <p>Если Вы семантолог, то уже на первом этапе сможете собрать огромное узкоспециализированных ключей, которые без глубокого
            погружения в тематику узнать невозможно. Это резко повысит качество составления семантики.</p>
    </div>
</div>
{% endblock %}